<header id="site-header" role="banner">


    <nav>
        <a class="home-link" href="/"><img src="/assets/img/cypherstig_v5_128_circle.png"><span>cypherstig</span></a>
        <div class="main-link-container">
            <a class="main-link" href="{{ 'academy' | relative_url }}">Academy</a>
            <a class="main-link" href="{{ 'blog' | relative_url }}">Blog</a>
            <a class="main-link" href="{{ 'books' | relative_url }}">Books</a>
            <a class="main-link" href="{{ 'films' | relative_url }}">Films</a>
            <a class="main-link" href="{{ 'audio' | relative_url }}">Audio</a>
            <a class="main-link" href="{{ 'mission' | relative_url }}">Mission</a>
            <!--<a id="donate-link" class="main-link" href="{{ 'donate' | relative_url }}">Donate</a>-->
            <a onclick="focusMethod(); return false;" id="subscribe-link" class="main-link jump" data-jumplink="subscribe" href="#subscribe">Subscribe</a>
        </div>
        <i id="mobile-menu-toggle" class="fa fa-bars"></i>
    </nav>
    <div id="mobile-menu">
        <ul>
            <a class="main-link" href="{{ 'academy' | relative_url }}">Academy</a>
            <a class="main-link" href="{{ 'blog' | relative_url }}">Blog</a>
            <a class="main-link" href="{{ 'books' | relative_url }}">Books</a>
            <a class="main-link" href="{{ 'films' | relative_url }}">Films</a>
            <a class="main-link" href="{{ 'audio' | relative_url }}">Audio</a>
            <a class="main-link" href="{{ 'mission' | relative_url }}">Mission</a>
            <!--<a class="main-link" href="{{ 'donate' | relative_url }}">Donate</a>-->
            <a onclick="focusMethod(); return false;" id="subscribe-link" class="main-link jump" data-jumplink="subscribe" href="#subscribe">Subscribe</a>
        </ul>
    </div>

<script>

focusMethod = function getFocus() {           
  document.getElementById("mce-EMAIL").focus();
}

</script>
    

</header>


